html {
    font-size: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(147, 75, 75);
}

body {
    width: 700px;
    margin: 0 auto;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
    background-color: #cfcece;
    font-size: 1.6rem;
    line-height: 1.5;
    color: #333;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
img {
    max-width: 100%;
    height: auto;
}
h1 {
    font-size: 3.2rem;
    line-height: 1.2;
    margin: 0 0 1rem 0;
    padding: 0;
    color: #b87676;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h2 {
    font-size: 2.4rem;
    line-height: 1.2;
    margin: 0 0 1rem 0;
    padding: 0;
    color: #333;
}
h3 {
    font-size: 1.8rem;
    line-height: 1.2;
    margin: 0 0 1rem 0;
    padding: 0;
    color: #333;
}
p, li,a {
    margin: 0 0 1rem 0;
    padding: 0;
    color: #924f4f;
}
button {
    background-color: #b87676;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1.6rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: block;
}
button:hover {
    background-color: #801818;
}
textarea {
    width: 650px;
    height: 150px;
    padding: 10px;
    font-size: 1.6rem;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    color: #796464;
}
input {
    width: 100%;
    padding: 10px;
    font-size: 1.6rem;
}